flask
pymongo
redis
requests
python-dotenv
bcrypt
sentry-sdk[flask]
sib-api-v3-sdk
Flask-Limiter
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
boto3
flask_limiter
botocore
gunicorn
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability