.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}

.navbar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}

.navbar svg {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.navbar button:hover {
    filter: brightness(80%);
}

.header-login-message a:hover {
    filter: brightness(80%);
}

.sign-up-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logo-container img {
    width: 50px;
    height: 50px;
}

.logo-container p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
}

.sign-up-main-container, .sign-up-email-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sign-up-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-options button {
    width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sign-up-options button svg {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.sign-up-options button span {
    font-size: 1rem;
    font-weight: 500;
}

.sign-up-options button:hover {
    filter: brightness(80%);
}

.sign-up-options-separator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-options-separator p {
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0px;
}

.sign-up-email button {
    width: 250px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-email-container input {
    width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.sign-up-email-container button {
    width: 250px;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background-color: #000;
}