:root {
    --text: hsl(0, 0%, 95%);
    --background: hsl(0, 0%, 9%);
    --primary: hsl(240, 100%, 42%);
    --primary_analogous: #ab57ff;
    --secondary: hsl(0, 0%, 15%);
    --accent: hsl(156, 2%, 52%);
    --main: hsl(0, 0%, 00%);
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
}


.main_container {
    position: relative;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 630px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    z-index: 5;
    margin-top: 8px;
}

.social_login {
    margin-top: 25px;
    margin-bottom: 10px;
}

.social_icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social_icons button {
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--main);
    width: 100%;
    height: 45px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}


.social_icons button:hover {
    background-color: var(--background);
}

.social_icons button img {
    width: 25px;
    height: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
}

form input {
    width: 100%;
    height: 45px;
    padding: 10px;
    z-index: 5;
    border: none;
    background-color: var(--main);
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid var(--secondary);
    transition: 0.3s;
    color: var(--text);
}

form input:focus {
    outline: none;
    background-color: var(--background);
}

form input::placeholder {
    color: var(--accent);
}

a {
    color: var(--primary);
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    opacity: 0.8;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-image: var(--text);
    color: var(--main);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

p {
    color: var(--accent);
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account_registration {
    text-align: center;
}

.highlight {
    color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.danger {
    color: red;
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
}

.danger-link {
    color: red;
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

ul {
    list-style: square;
    padding-left: 20px;

    font-size: 0.8rem;
    color: var(--accent);

}