<div class="alert-container" id="alert-container">
  <div class="alert" id="alert">
    <span class="alert-message" id="alert-message"></span>
    <span class="alert-close" onclick="closeAlert()"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 -960 960 960"
        width="24"
      >
        <path
          d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
        /></svg
    ></span>
  </div>
</div>
