<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="ProjectRexa" />
  <meta name="robots" content="noindex, nofollow" />
  <meta property="og:title" content="ProjectRexa" />
  <link rel="preconnect" href="https://www.google.com" />
  <link rel="preconnect" href="https://www.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://cdn.projectrexa.dedyn.io" />

  <meta
    property="og:image"
    content="https://cdn.projectrexa.dedyn.io/projectrexa/assets/logo_no_background.png"
  />
  <meta property="og:url" content="https://accounts.projectrexa.dedyn.io" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="ProjectRexa" />
  <meta
    name="twitter:image"
    content="https://cdn.projectrexa.dedyn.io/projectrexa/assets/logo_no_background.png"
  />
  <link rel="canonical" href="https://accounts.projectrexa.dedyn.io" />

  <link rel="icon" href="https://cdn.projectrexa.dedyn.io/favicon.ico" />

  <script
    src="https://www.google.com/recaptcha/api.js?render=6LdINlonAAAAAK5yArQKUqdHU7sIM8lWD_t_ttOU"
    defer
  ></script>

  <script src="static/js/base.js" defer></script>
  <link rel="stylesheet" href="static/css/base.css" />

  <title>ProjectRexa</title>
</head>
