<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account | ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/account.css" />
    <script src="/static/js/account.js" defer></script>
  </head>
  <body>
    <h1 class="heading_first">Profile Information</h1>
    <div class="general_account_info">

      <div class-"profile_picture_container>
        <img id="profile_picture" class="profile_picture"
      src="{{user_info["profile_picture"]}}"
      alt="{{user_info["name"]}} Profile Picture">
      <button onclick="location.href = '/change-profile-picture'" class="change_profile_picture_button"><svg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 -960 960 960" width="15"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg></button>
      </div>

      <div class="accout_info">
        <p id="user_id">
          User ID - <span class="special_text">{{user_info["user_id"]}}</span>
        </p>
        <p id="user_signup_method">
          Signup Method -
          <span class="special_text">{{user_info["method"]}}</span>
        </p>
        <p id="user_name" class="user_name">
          User Name - <span class="special_text">{{user_info["name"]}}</span>
          </p>
        
        
        <p id="member_since">
          Member Since -
          <span class="special_text created_at"
            >{{user_info["created_at"]}}</span
          >
        </p>
        <p id="user_email">
          Registered Email -
          <span class="special_text">{{user_info["email"]}}</span>
        </p>
      </div>

    </div>

    <h1>Active Sessions</h1>

    <main>

      {% for session in sessions %} 
        {% if session_id != session["session_id"] %}
            <div class="session">
                <p>
                IP Address -
                <span class="special_text">{{session["user_ip_address"]}}</span>
                </p>
                <p>
                Location -
                <span class="special_text"
                    >{{session["regionName"]}}, {{session["city"]}},
                    {{session["country"]}}</span
                >
                </p>
                <p>
                User Agent -
                <span class="special_text">{{session["user_agent"]}}</span>
                </p>
                <p>
                Created At -
                <span class="special_text created_at">{{session["created_at"]}}</span>
                </p>
                <button onclick="remove_session('{{session['logout_token']}}')" class="logout_button"
                data-logout-token="{{session["logout_token"]}}"> Log Out</button>
            </div>

        {% else %}
            <div class="session current_session">
                <p>
                IP Address -
                <span class="special_text">{{session["user_ip_address"]}}</span>
                </p>
                <p>
                Location -
                <span class="special_text"
                    >{{session["regionName"]}}, {{session["city"]}},
                    {{session["country"]}}</span
                >
                </p>
                <p>
                User Agent -
                <span class="special_text">{{session["user_agent"]}}</span>
                </p>
                <p>
                Created At -
                <span class="special_text created_at">{{session["created_at"]}}</span>
                </p>
                <button onclick="location.href = '/sign-out'" class="logout_button">Sign Out</button>
            </div>
        {% endif %} 
      {% endfor %}

    </main>
    <h1>Export Account Data</h1>
    <div class="export_account_data">
      <p>
        ProjectRexa allows you to export your account data. This includes your user ID, user name, email, signup method, profile picture, the date you joined, and your active sessions. This data will be exported in a JSON file and will be sent to your registered email address as an attachment within 7 days. (This feature is coming soon)

      </p>
      <button class="export_account_data_button" disabled>
        Export Account Data
      </button>
    </div>
    <h1>Delete Account</h1>
    <div class="delete_account">
      <p>
        Deleting your account will permanently delete all your data from our servers. This includes your user ID, user name, email, signup method, profile picture, the date you joined, and your active sessions. This action cannot be undone. (This feature is coming soon)
      </p>
      <button class="delete_account_button" disabled>Delete Account</button>
    </div>

    <h1>Support</h1>
    <div class="support">
      <p>
        If you have any questions or concerns, please contact us at
        <a href="mailto:support@projectrexa.dedyn.io">support@projectrexa.dedyn.io.</a>
      </p>
    </div>
  </body>
</html>
