{% include "partial/head-section.html" %}
<body>
  <link rel="stylesheet" href="static/css/reset-password.css" />
  <script src="static/js/reset-password.js"></script>
  {% include "partial/alerts-section.html" %}
  <main>
    <div class="heading">
      <h1>Reset password</h1>
      <p>Choose a new secure and memorable password for your account.</p>
    </div>
    <div class="password-reset-form">
      <form onsubmit="handleResetPassword(event)">
        <label for="password">New password</label>
        <input
          type="password"
          name="password"
          placeholder="********"
          id="password"
        />
        <label for="confirm-password">Confirm new password</label>
        <input
          type="text"
          name="confirm-password"
          placeholder="********"
          id="confirm-password"
        />
        <input type="submit" value="Reset Password" id="submit" />
      </form>
    </div>
    <div class="disclaimer">
      <span
        >This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </span>
    </div>
  </main>
</body>
