<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/auth.css" />
    <script src="/static/js/reset_password.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdINlonAAAAAK5yArQKUqdHU7sIM8lWD_t_ttOU" defer></script>
</head>
<body>
    <script>
        function onSubmit(token) {
          document.getElementById("reset-password-form").submit();
        }
      </script>
      <main>
        <div class="main_container">
          <h1>Reset Password</h1>
          <br>
          <p>Please read the instructions below carefully, before continuing.</p>
          <p>
            1. Enter a new secure password below, here are some tips for a strong password - 
            <ul>
              <li>Use a combination of letters, numbers and special characters.</li>
              <li>Use a password manager to store your password.</li>
              <li>Do not use the same password for multiple accounts.</li>
            </ul>
          </p>
          <p>
            2. Check if your password has been breached in a data breach, by visiting <a href="https://haveibeenpwned.com/Passwords" target="_blank">haveibeenpwned.com</a>. If your password has been breached, please choose a different password.
          </p>
            <p>
            3. Click the "Reset Password" button below, after storing your new password in a secure location.<br>
            </p>


            <br>
          <div class="error">
            <p id="error-text" class="danger">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}         
              &nbsp;
            </p>
          </div>
          <form action="/reset-password" method="post" id="reset-password-form">
            <input type="hidden" name="token" value="{{ token }}" id="token" />
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Enter a secure password"
              required
            />
            <br />
            <button
              onclick="event.preventDefault();submitForm();"
              id = "reset-password-button"
            >
                Reset Password
            </button>
          </form>
          <br />
        </div>
      </main>
    
</body>
</html>