<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resend Verification | ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/auth.css" />
    <script src="/static/js/resend_verification.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdINlonAAAAAK5yArQKUqdHU7sIM8lWD_t_ttOU" defer></script>
</head>
<body>
    <script>
        function onSubmit(token) {
          document.getElementById("resend-verification-form").submit();
        }
      </script>
      <main>
        <div class="main_container">
          <h1>Resend verification</h1>
          <br>
          <p>Please read the instructions below carefully, before continuing.</p>
            <p>
                1. If you have not received a verification email, please check your spam
                folder. If you still cannot find the email, please enter your email
                address below and click the "Send email" button.
            </p>
            <p>
                2. If you have received a verification email, please click the button in the
                email to verify your account.
            </p>
            <p>
                3. An email will be sent to your email address with a link to verify your
                account. Please click the link in the email to verify your account.
            </p>
            <p>4. Do not try to keep sending verification emails, in case you do not receive an email, please contact us at <a href="mailto:contact@projectrexa.dedyn.io">contact@projectrexa.dedyn.io</a>. Repeated attempts at sending re-verification email may result in your account being suspended.
            </p>

            <br>
          <div class="error">
            <p id="error-text" class="danger">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}         
              &nbsp;
            </p>
          </div>
          <form action="/resend-verification" method="post" id="resend-verification-form">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="user@projectrexa.dedyn.io"
              required
            />
            <br />
            <button
              onclick="event.preventDefault();submitForm();"
              id = "resend-verification-button"
            >
                Send email
            </button>
          </form>
          <br />
        </div>
      </main>
    
</body>
</html>