<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in | ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/sign_in.css" />
  </head>
  <body>
    <main>
      <div class="login_container">
        <h1>Sign in to projectrexa</h1>
        <div class="social_login">
          <p class="smaller_text">Continue with one of the following options</p>
          <div class="social_icons">
            <button onclick="window.location.href='/oauth/github'" >
              <img src="/static/images/github_logo.png" alt="github" />
            </button>

            <button onclick="window.location.href='/oauth/google'">
              <img src="/static/images/google_logo.svg" alt="google"/>
             </button>
          </div>
        </div>
        <form action="/sign-in" method="post">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="user@projectrexa.dedyn.io"
            required
          />
          <br />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
          <p class="highlight">
            <a href="/forgot-password">Forgot password?</a>
          </p>
          <br />
          <button type="submit">Sign in</button>
        </form>
        <br />
        <p class="smaller_text account_registration">
          Don't have an account?
          <span class="highlight"><a href="/sign-up">Sign up</a></span>
        </p>
      </div>
    </main>
  </body>
</html>
