<!DOCTYPE html> 
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sign up | ProjectRexa</title>
      <link rel="preconnect" href="https://www.google.com" />
      <link rel="preconnect" href="https://www.gstatic.com" crossorigin />
      <link rel="stylesheet" href="/static/css/base.css" />
      <link rel="stylesheet" href="/static/css/auth.css" />
      <script src="/static/js/signup.js" defer></script> <script src="https://www.google.com/recaptcha/api.js?render=6LdINlonAAAAAK5yArQKUqdHU7sIM8lWD_t_ttOU" defer></script> 
   </head>
   <body>
      <script> function onSubmit(token) { document.getElementById("signup-form").submit(); } </script> 
      <main>
         <div class="login_container">
            <h1>Sign up to projectrexa</h1>
            <div class="social_login">
               <p class="smaller_text">Continue with one of the following options</p>
               <div class="social_icons"> <button onclick="window.location.href='/oauth/github'"> <img src="/static/images/github_logo.png" alt="github" /> </button> <button onclick="window.location.href='/oauth/google'"> <img src="/static/images/google_logo.svg" alt="google" /> </button> </div>
            </div>
            <div class="error">
               <p id="error-text" class="danger"> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %} {{ message }}</li> {% endfor %} 
               </ul> {% endif %} {% endwith %} &nbsp; </p> 
            </div>
            <form action="/sign-up" method="post" id="signup-form">
               <label for="username">Username</label> <input type="text" name="username" id="username" placeholder="Enter your username" required /> <br>
               <label for="email">Email</label> <input type="email" name="email" id="email" placeholder="Enter your email" required /> <br>
               <label for="password">Password</label> <input type="password" name="password" id="password" placeholder="Enter a secure password" required /> 
               <br /> <button onclick="event.preventDefault();submitForm();" id = "signup-button" > Sign up </button> 
            </form>
            <br /> 
            <p class="smaller_text account_registration"> Already have an account? <span class="highlight"><a href="/sign-in">Sign in</a></span> </p>
         </div>
      </main>
   </body>
</html>